<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.togogo.mapper.ReturndetailMapper">
  <resultMap id="BaseResultMap" type="net.togogo.entity.Returndetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rd_id" jdbcType="VARCHAR" property="rdId" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="rd_num" jdbcType="DOUBLE" property="rdNum" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rd_id, p_id, rd_num, s_id, createtime, reason
  </sql>
  <select id="selectByExample" parameterType="net.togogo.entity.ReturndetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from returndetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from returndetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from returndetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.togogo.entity.ReturndetailExample">
    delete from returndetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.togogo.entity.Returndetail">
    insert into returndetail (id, rd_id, p_id, 
      rd_num, s_id, createtime, 
      reason)
    values (#{id,jdbcType=INTEGER}, #{rdId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, 
      #{rdNum,jdbcType=DOUBLE}, #{sId,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, 
      #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.togogo.entity.Returndetail">
    insert into returndetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rdId != null">
        rd_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="rdNum != null">
        rd_num,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rdId != null">
        #{rdId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="rdNum != null">
        #{rdNum,jdbcType=DOUBLE},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.togogo.entity.ReturndetailExample" resultType="java.lang.Long">
    select count(*) from returndetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update returndetail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rdId != null">
        rd_id = #{record.rdId,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.rdNum != null">
        rd_num = #{record.rdNum,jdbcType=DOUBLE},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update returndetail
    set id = #{record.id,jdbcType=INTEGER},
      rd_id = #{record.rdId,jdbcType=VARCHAR},
      p_id = #{record.pId,jdbcType=VARCHAR},
      rd_num = #{record.rdNum,jdbcType=DOUBLE},
      s_id = #{record.sId,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=DATE},
      reason = #{record.reason,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.togogo.entity.Returndetail">
    update returndetail
    <set>
      <if test="rdId != null">
        rd_id = #{rdId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="rdNum != null">
        rd_num = #{rdNum,jdbcType=DOUBLE},
      </if>
      <if test="sId != null">
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.togogo.entity.Returndetail">
    update returndetail
    set rd_id = #{rdId,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=VARCHAR},
      rd_num = #{rdNum,jdbcType=DOUBLE},
      s_id = #{sId,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=DATE},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>