<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.togogo.mapper.SuppliersMapper">
  <resultMap id="BaseResultMap" type="net.togogo.entity.Suppliers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
    <result column="s_phone" jdbcType="VARCHAR" property="sPhone" />
    <result column="s_email" jdbcType="VARCHAR" property="sEmail" />
    <result column="s_address" jdbcType="VARCHAR" property="sAddress" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="leaderphone" jdbcType="VARCHAR" property="leaderphone" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, s_id, s_name, s_phone, s_email, s_address, leader, leaderphone
  </sql>
  <select id="selectByExample" parameterType="net.togogo.entity.SuppliersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from suppliers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from suppliers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from suppliers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.togogo.entity.SuppliersExample">
    delete from suppliers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.togogo.entity.Suppliers">
    insert into suppliers (id, s_id, s_name, 
      s_phone, s_email, s_address, 
      leader, leaderphone)
    values (#{id,jdbcType=INTEGER}, #{sId,jdbcType=VARCHAR}, #{sName,jdbcType=VARCHAR}, 
      #{sPhone,jdbcType=VARCHAR}, #{sEmail,jdbcType=VARCHAR}, #{sAddress,jdbcType=VARCHAR}, 
      #{leader,jdbcType=VARCHAR}, #{leaderphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.togogo.entity.Suppliers">
    insert into suppliers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="sName != null">
        s_name,
      </if>
      <if test="sPhone != null">
        s_phone,
      </if>
      <if test="sEmail != null">
        s_email,
      </if>
      <if test="sAddress != null">
        s_address,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="leaderphone != null">
        leaderphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="sName != null">
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sPhone != null">
        #{sPhone,jdbcType=VARCHAR},
      </if>
      <if test="sEmail != null">
        #{sEmail,jdbcType=VARCHAR},
      </if>
      <if test="sAddress != null">
        #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderphone != null">
        #{leaderphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.togogo.entity.SuppliersExample" resultType="java.lang.Long">
    select count(*) from suppliers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update suppliers
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.sName != null">
        s_name = #{record.sName,jdbcType=VARCHAR},
      </if>
      <if test="record.sPhone != null">
        s_phone = #{record.sPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.sEmail != null">
        s_email = #{record.sEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.sAddress != null">
        s_address = #{record.sAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null">
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.leaderphone != null">
        leaderphone = #{record.leaderphone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update suppliers
    set id = #{record.id,jdbcType=INTEGER},
      s_id = #{record.sId,jdbcType=VARCHAR},
      s_name = #{record.sName,jdbcType=VARCHAR},
      s_phone = #{record.sPhone,jdbcType=VARCHAR},
      s_email = #{record.sEmail,jdbcType=VARCHAR},
      s_address = #{record.sAddress,jdbcType=VARCHAR},
      leader = #{record.leader,jdbcType=VARCHAR},
      leaderphone = #{record.leaderphone,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.togogo.entity.Suppliers">
    update suppliers
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="sName != null">
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sPhone != null">
        s_phone = #{sPhone,jdbcType=VARCHAR},
      </if>
      <if test="sEmail != null">
        s_email = #{sEmail,jdbcType=VARCHAR},
      </if>
      <if test="sAddress != null">
        s_address = #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderphone != null">
        leaderphone = #{leaderphone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.togogo.entity.Suppliers">
    update suppliers
    set s_id = #{sId,jdbcType=VARCHAR},
      s_name = #{sName,jdbcType=VARCHAR},
      s_phone = #{sPhone,jdbcType=VARCHAR},
      s_email = #{sEmail,jdbcType=VARCHAR},
      s_address = #{sAddress,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      leaderphone = #{leaderphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>